﻿@import 'variables';
.clearfix:after {
    display: table;
    content: "";
    clear: both;
}
button:focus {
	outline:0;
}
.wrapper {
    bottom: 0;
    position: fixed;
    height: 100%;
    left: 0;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    top: 0;
    width: 100%;
}
#uiWindowsContainer {
    overflow: hidden;
    height: ~"calc(100% - @{taskbarHeight})";
    position: relative;
}
#taskbar {
    border-top: 1px solid #cecece;
    height: @taskbarHeight;
    width: 100%;
    padding: 3px;
}
.taskbar-icons {
    float: left;
    height: 100%;
}
.clean-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 50px;
}
    .clean-btn:hover {
        color: #5e5e5e;
    }
.active-icon {
    color: #00a300;
}
.clean-btn.active-icon:hover {
    color: #00dd00;
}
/*  UI window    */
.ui-window {
    -webkit-box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.75);
    border: 3px solid @uiWindowBorderColor;
    border-radius: 5px;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    margin: 0 auto;
    transition: width @transitionDuration ease 0s, height @transitionDuration ease 0s, 
				top @transitionDuration ease-in-out 0s, left @transitionDuration ease-in-out 0s;
}
.no-animations {
	transition: none !important;
}
.ui-window.full-screen {
    width: 90%;
    height: 90%;
}
.ui-window.minimized {
    top: 102% !important;
    left: 102% !important;
}
.ui-window.preload {
    top: 102%;
    left: -102%;
}
.ui-window-titlebar {
    /* Old Browsers */
    background: rgba(183,222,237,1);
    /* FF3.6+ */
    background: -moz-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(95,152,173,1) 100%);
    /* Chrome, Safari4+ */
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(100%, rgba(95,152,173,1)));
    /* Chrome10+,Safari5.1+ */
    background: -webkit-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(95,152,173,1) 100%);
    /* Opera 11.10+ */
    background: -o-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(95,152,173,1) 100%);
    /* IE 10+ */
    background: -ms-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(95,152,173,1) 100%);
    /* W3C */
    background: linear-gradient(135deg, rgba(183,222,237,1) 0%, rgba(95,152,173,1) 100%);
    /* IE6-9 fallback on horizontal gradient */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#5f98ad', GradientType=1 );

    height: @uiWindowTitlebarHeight;
	cursor: move;
}
.ui-window-titlebar p {
    float: left;
    padding: 3px 0 0 10px;
    font-style: italic;
    font-weight: bold;
}
.ui-window-titlebar .titlebar-buttons-pane {
    float: right;
}
.ui-window p {
    margin: 0;
}
.ui-window-content {
    background-color: #FFF;
    height: ~"calc(100% - @{uiWindowTitlebarHeight} - @{uiWindowStatusbarHeight})";
    box-sizing: border-box;
    font-size: 12px;
}
.ui-window-content > div {
    box-sizing: border-box;
    padding: 3px;
    overflow: auto;
}
.system-info {
    border-bottom: 1px solid @uiWindowBorderColor;
}
.pos-left {
    float: left;
    border-right: 1px solid @uiWindowBorderColor;
}
.pos-right {
    float: right;
}
.size-small {
    height: 50%;
    width: 25%;
}
.size-big {
    height: 100%;
    width: 75%;
}
.ui-window-statusbar {
    box-shadow: inset 0px 3px 10px 0px @uiWindowStatusbarBoxShadowColor;
    -webkit-box-shadow: inset 0px 3px 10px 0px @uiWindowStatusbarBoxShadowColor;
    -moz-box-shadow: inset 0px 3px 10px 0px @uiWindowStatusbarBoxShadowColor;
    border-top: 1px solid @uiWindowBorderColor;
    height: @uiWindowStatusbarHeight;
    padding: 0 3px;
    font-style: italic;
}
.titlebar-btn {
    height: 26px;
    line-height: 18px;
    width: 32px;
}