﻿@taskbarHeight: 35px;
@transitionDuration: 2s;
@uiWindowTitlebarHeight: 28px;
@uiWindowStatusbarHeight: 20px;
@uiWindowBorderColor: rgb(95, 152, 173);
@uiWindowStatusbarBoxShadowColor: rgba(95, 152, 173, 0.75);