<div class="ui-window preload">
    <div class="ui-window-titlebar clearfix">
        <p>New Window</p>
        <div class="titlebar-buttons-pane">
            <button class="titlebar-btn btn-minimize fa fa-minus" title="Minimize"></button>
            <button class="titlebar-btn btn-resize fa fa-expand" title="Resize"></button>
            <button class="titlebar-btn btn-close fa fa-times" title="Close"></button>
        </div>
    </div>
    <div class="ui-window-content">
        <div class="system-info pos-left size-small"></div>
        <div class="actions-info pos-right size-big"></div>
        <div class="pos-left size-small"></div>
    </div>
    <div class="ui-window-statusbar">

    </div>
</div>